#
# Copyright (C) 2022 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

# Fingerprint
on init
    chmod 0664 /dev/fortsense_fp
    chown system system /dev/fortsense_fp

    chmod 0666 /dev/goodix_fp
    chown system system /dev/goodix_fp

    chown system system /sys/touchpanel/fod_status
    chmod 0644 /sys/touchpanel/fod_status

on boot
    chown system system /sys/bus/platform/devices/soc:fingerprint_fpc/irq
    chown system system /sys/bus/platform/devices/soc:fingerprint_fpc/irq_enable
    chown system system /sys/bus/platform/devices/soc:fingerprint_fpc/wakeup_enable
    chown system system /sys/bus/platform/devices/soc:fingerprint_fpc/hw_reset
    chown system system /sys/bus/platform/devices/soc:fingerprint_fpc/device_prepare
    chown system system /sys/bus/platform/devices/soc:fingerprint_fpc/fingerdown_wait
    chown system system /sys/bus/platform/devices/soc:fingerprint_fpc/vendor
    chown system system /sys/bus/platform/devices/soc:fingerprint_fpc/request_vreg
    chown system system /sys/bus/platform/devices/soc:fingerprint_fpc/simulate_irq
    chown system system /sys/bus/platform/devices/soc:fingerprint_fpc/finger_irq
    chown system system /sys/bus/platform/devices/soc:fingerprint_fpc/request_vreg
    chown system system /sys/bus/platform/devices/soc:fingerprint_fpc/power_cfg
    chmod 0700 /sys/bus/platform/devices/soc:fingerprint_fpc/irq
    chmod 0700 /sys/bus/platform/devices/soc:fingerprint_fpc/wakeup_enable
    chmod 0700 /sys/bus/platform/devices/soc:fingerprint_fpc/hw_reset
    chmod 0700 /sys/bus/platform/devices/soc:fingerprint_fpc/device_prepare
    chmod 0700 /sys/bus/platform/devices/soc:fingerprint_fpc/vendor
    chmod 0700 /sys/bus/platform/devices/soc:fingerprint_fpc/request_vreg
    chmod 0700 /sys/bus/platform/devices/soc:fingerprint_fpc/simulate_irq
    chmod 0700 /sys/bus/platform/devices/soc:fingerprint_fpc/finger_irq
    chmod 0700 /sys/bus/platform/devices/soc:fingerprint_fpc/request_vreg
    chmod 0700 /sys/bus/platform/devices/soc:fingerprint_fpc/power_cfg

on post-fs-data
    mkdir /data/vendor/fortsense 0770 system system
    mkdir /data/vendor/fpc 0770 system system
    mkdir /data/vendor/fpdump 0770 system system
    mkdir /data/vendor/goodix 0770 system system

    mkdir /mnt/vendor/persist/fpc 0770 system system
    mkdir /mnt/vendor/persist/goodix 0770 system system

# Health
on boot
    chmod 0660 /sys/class/power_supply/battery/input_suspend
    chown system system /sys/class/power_supply/battery/input_suspend

# NFC
service qti_esepowermanager_service_1_1 /vendor/bin/hw/vendor.qti.esepowermanager@1.1-service
    override
    class hal
    user system
    group nfc system
    disabled

service secureelement-hal_1_2 /vendor/bin/hw/vendor.qti.secure_element@1.2-service
    override
    class hal
    user system
    group system
    disabled

service vendor.nfc_hal_service /vendor/bin/hw/android.hardware.nfc-service.nxp
    override
    class early_hal
    user nfc
    group nfc
    disabled

on boot && property:ro.boot.product.hardware.sku=nfc
    enable qti_esepowermanager_service_1_1
    enable secureelement-hal_1_2
    enable vendor.nfc_hal_service

# NVMAC
on property:init.svc.vendor.nv_mac=stopped
    start vendor.btmac-sh

service vendor.btmac-sh /vendor/bin/init.mi.btmac.sh
    class late_start
    user system
    group system bluetooth wifi
    oneshot
    disabled

# Radio
on early-init
    setprop ro.vendor.radio.midevice ${ro.product.vendor.device}

# USB
on early-boot && property:vendor.usb.uvc.function.init=1
    write /config/usb_gadget/g1/functions/uvc.0/function_name "Android Webcam"
    # Remove H264 format
    rm /config/usb_gadget/g1/functions/uvc.0/streaming/header/h1/h1
    rm /config/usb_gadget/g1/functions/uvc.0/streaming/header/h/h

on property:sys.usb.config=uvc,adb && property:sys.usb.configfs=1
    start adbd

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=uvc,adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/configs/b.1/strings/0x409/configuration "uvc_adb"
    rm /config/usb_gadget/g1/configs/b.1/f1
    rm /config/usb_gadget/g1/configs/b.1/f2
    rm /config/usb_gadget/g1/configs/b.1/f3
    rm /config/usb_gadget/g1/configs/b.1/f4
    rm /config/usb_gadget/g1/configs/b.1/f5
    rm /config/usb_gadget/g1/configs/b.1/f6
    rm /config/usb_gadget/g1/configs/b.1/f7
    rm /config/usb_gadget/g1/configs/b.1/f8
    rm /config/usb_gadget/g1/configs/b.1/f9
    write /config/usb_gadget/g1/idVendor 0x18d1
    write /config/usb_gadget/g1/idProduct 0x4eee
    write /config/usb_gadget/g1/bDeviceClass 0xEF
    write /config/usb_gadget/g1/bDeviceSubClass 0x02
    write /config/usb_gadget/g1/bDeviceProtocol 0x01
    symlink /config/usb_gadget/g1/functions/uvc.0 /config/usb_gadget/g1/configs/b.1/f1
    symlink /config/usb_gadget/g1/functions/ffs.adb /config/usb_gadget/g1/configs/b.1/f2
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=uvc && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/configs/b.1/strings/0x409/configuration "uvc"
    rm /config/usb_gadget/g1/configs/b.1/f1
    rm /config/usb_gadget/g1/configs/b.1/f2
    rm /config/usb_gadget/g1/configs/b.1/f3
    rm /config/usb_gadget/g1/configs/b.1/f4
    rm /config/usb_gadget/g1/configs/b.1/f5
    rm /config/usb_gadget/g1/configs/b.1/f6
    rm /config/usb_gadget/g1/configs/b.1/f7
    rm /config/usb_gadget/g1/configs/b.1/f8
    rm /config/usb_gadget/g1/configs/b.1/f9
    write /config/usb_gadget/g1/idVendor 0x18d1
    write /config/usb_gadget/g1/idProduct 0x4eed
    write /config/usb_gadget/g1/bDeviceClass 0xEF
    write /config/usb_gadget/g1/bDeviceSubClass 0x02
    write /config/usb_gadget/g1/bDeviceProtocol 0x01
    symlink /config/usb_gadget/g1/functions/uvc.0 /config/usb_gadget/g1/configs/b.1/f1
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    setprop sys.usb.state ${sys.usb.config}
