
# Copyright (c) 2018-2020, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
#

on early-init
    exec u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules audio_q6_pdr audio_q6_notifier audio_snd_event audio_apr audio_adsp_loader audio_q6 audio_native audio_usf audio_pinctrl_wcd audio_pinctrl_lpi audio_swr audio_platform audio_hdmi audio_stub audio_wcd_core audio_wsa881x audio_bolero_cdc audio_wsa_macro audio_va_macro audio_rx_macro audio_tx_macro audio_wcd938x audio_wcd938x_slave audio_cs35l41 audio_tfa98xx audio_machine_kona
    write /proc/sys/kernel/sched_boost 1

on init
    write /dev/stune/foreground/schedtune.sched_boost_no_override 1
    write /dev/stune/top-app/schedtune.sched_boost_no_override 1
    write /dev/stune/schedtune.colocate 0
    write /dev/stune/background/schedtune.colocate 0
    write /dev/stune/system-background/schedtune.colocate 0
    write /dev/stune/foreground/schedtune.colocate 0
    write /dev/stune/top-app/schedtune.colocate 1
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice
    chown system system /sys/devices/platform/soc/${ro.boot.bootdevice}/auto_hibern8
    chmod 0660 /sys/devices/platform/soc/${ro.boot.bootdevice}/auto_hibern8
    chown system system /proc/last_kmsg
    #change owner of white led
    chown system system /sys/class/leds/white/brightness
    chown system system /sys/class/leds/white/trigger
    chown system system /sys/class/leds/white/breath

on early-fs
    start vold

on fs
    start hwservicemanager
    chmod 644 /mnt/vendor/persist/audio/us_manual_cal
    mkdir /mnt/vendor/spunvm 0660 system system
    mount_all /vendor/etc/fstab.qcom --early
    chown root system /mnt/vendor/persist
    chmod 0771 /mnt/vendor/persist
    mkdir /mnt/vendor/persist/haptics 0755 system system
    mkdir /mnt/vendor/persist/audio 0755 system system
    chmod 0644 /mnt/vendor/persist/haptics/vov
    chown system system /mnt/vendor/persist/haptics/vov
    chown system system /sys/bus/i2c/drivers/aw8697_haptic/2-005a/vov
    restorecon_recursive /mnt/vendor/persist
    mkdir /mnt/vendor/persist/data 0700 system system
    chmod 644 /mnt/vendor/persist/audio/us_manual_cal
    mkdir /mnt/vendor/persist/subsys 0770 root system
    #+ add for watermark
    mkdir /mnt/vendor/persist/camera 0777 root root
    mkdir /dev/logfs 0771 system system
    mount vfat /dev/block/bootdevice/by-name/logfs /dev/logfs noatime umask=006,uid=1000,gid=1000
    chown system system /dev/tfa_reg
    chown system system /dev/tfa_rw
    chown system system /dev/tfa_rpc
    chown system system /dev/tfa_control
    chmod 0660 /dev/tfa_reg
    chmod 0660 /dev/tfa_rw
    chmod 0660 /dev/tfa_rpc
    chmod 0660 /dev/tfa_control
    chmod 0666 /dev/xlog
    chown system system /sys/devices/platform/soc/a8c000.i2c/i2c-2/2-005a/custom_wave
    chmod 0666  /sys/devices/platform/soc/a8c000.i2c/i2c-2/2-005a/custom_wave

on fs && property:ro.build.ab_update=true
    mount ext4 /dev/block/bootdevice/by-name/rescue /mnt/rescue noatime
    restorecon_recursive /mnt/rescue

on post-fs
    # set RLIMIT_MEMLOCK to 64MB
    setrlimit 8 67108864 67108864
    write /dev/ipa 1

on late-fs
    wait_for_prop hwservicemanager.ready true
    exec_start wait_for_keymaster
    mount_all /vendor/etc/fstab.qcom --late

on post-fs-data
    mkdir /vendor/data/tombstones 0771 system system
    chmod 0644 /dev/elliptic0
    chmod 0644 /dev/elliptic1
    # Enable WLAN cold boot calibration
    write /sys/devices/platform/soc/b0000000.qcom,cnss-qca6390/fs_ready 1
    chmod 0660 /dev/ir_spi
    #sensors diag2bugreport log dir
    mkdir /data/vendor/sensor_log
    chown system system /data/vendor/sensor_log
    chown system system /vendor/etc/sensors/sensor_diag.cfg
    chown system system /dev/ir_spi
    mkdir /data/vendor/wlan_logs 0777 root shell
    mkdir /data/vendor/nfc 0770 nfc nfc
    chmod 0644 /dev/elliptic0
    chmod 0644 /dev/elliptic1
    mkdir /data/vendor/misc/display 0771 system system
    mkdir /data/vendor/mqsas_common 0771 system system
    mkdir /data/vendor/thermal 0771 root system
    mkdir /data/vendor/thermal/config 0771 root system
    chown gps system /dev/ttyHS1


on early-boot
    start vendor.sensors
    verity_update_state

on property:ro.boot.dp=0x0
    write /sys/bus/platform/devices/c440000.qcom,spmi:qcom,pm8150@0:qcom,power-on@800/pshold_reboot 7

on boot
    chown system system /sys/class/touch/touch_dev/palm_sensor
    chown system system /sys/class/touch/touch_dev/partial_diff_data
    write /dev/cpuset/audio-app/cpus 1-2
    # Add a cpuset for the camera daemon
    # We want all cores for camera
    mkdir /dev/cpuset/camera-daemon
    write /dev/cpuset/camera-daemon/cpus 0-7
    write /dev/cpuset/camera-daemon/mems 0
    chown cameraserver cameraserver /dev/cpuset/camera-daemon
    chown cameraserver cameraserver /dev/cpuset/camera-daemon/tasks
    chmod 0660 /dev/cpuset/camera-daemon/tasks
    #USB controller configuration
    setprop vendor.usb.rndis.func.name "gsi"
    setprop vendor.usb.rmnet.func.name "gsi"
    setprop vendor.usb.rmnet.inst.name "rmnet"
    setprop vendor.usb.dpl.inst.name "dpl"
    setprop vendor.usb.qdss.inst.name "qdss"
    setprop vendor.usb.controller a600000.dwc3
    #Load WLAN driver
    exec_background u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules/ qca_cld3_wlan
    chown system system /sys/class/drm/card0-DSI-1/disp_param
    chown system system /proc/tp_selftest
    chmod 0664 /proc/tp_selftest
    chmod 0664 /sys/class/drm/card0-DSI-1/disp_param
    chown system system /sys/class/drm/card0-DSI-1/mipi_reg
    chmod 0664 /sys/class/drm/card0-DSI-1/mipi_reg
    chown system system /sys/class/drm/card0-DSI-1/panel_info
    chmod 0444 /sys/class/drm/card0-DSI-1/panel_info
    chown system system /sys/class/drm/card0-DSI-1/oled_pmic_id
    chmod 0444 /sys/class/drm/card0-DSI-1/oled_pmic_id
    chown system system /sys/class/drm/card0-DSI-1/wp_info
    chmod 0444 /sys/class/drm/card0-DSI-1/wp_info
    chown system system /sys/class/drm/card0-DSI-1/dynamic_fps
    chmod 0444 /sys/class/drm/card0-DSI-1/dynamic_fps
    chown system system /sys/class/drm/card0-DSI-1/doze_brightness
    chmod 0664 /sys/class/drm/card0-DSI-1/doze_brightness
    chown system system /sys/class/drm/card0-DSI-1/disp_count
    chmod 0664 /sys/class/drm/card0-DSI-1/disp_count
    chown system system /sys/class/drm/card0-DSI-1/disp_pcc
    chmod 0664 /sys/class/drm/card0-DSI-1/disp_pcc
    #camera motor
    chmod 0777 /sys/class/drv8846/ti-drv8846/debug
    chown system system /sys/class/backlight/panel0-backlight/brightness_clone
    chmod 0664 /sys/class/power_supply/battery/dc_thermal_levels
    chown system system /sys/class/thermal/thermal_message/sconfig
    chown system system /sys/class/thermal/thermal_message/balance_mode
    chown cameraserver cameraserver /sys/class/thermal/thermal_message/flash_state
    # Load all wlan drivers
    exec_background u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules/ qca_cld3_qca6390 qca_cld3_qca6490

    write /sys/block/sda/queue/wbt_lat_usec 75000

    chown root system /sys/module/migt/parameters/add_lclus_affinity_uidlist
    chmod 0664 /sys/module/migt/parameters/add_lclus_affinity_uidlist
    chown root system /sys/module/migt/parameters/del_lclus_affinity_uidlist
    chmod 0664 /sys/module/migt/parameters/del_lclus_affinity_uidlist
    chown root system /sys/module/migt/parameters/add_mclus_affinity_uidlist
    chmod 0664 /sys/module/migt/parameters/add_mclus_affinity_uidlist
    chown root system /sys/module/migt/parameters/del_mclus_affinity_uidlist
    chmod 0664 /sys/module/migt/parameters/del_mclus_affinity_uidlist
    chown root system /sys/module/migt/parameters/add_bclus_affinity_uidlist
    chmod 0664 /sys/module/migt/parameters/add_bclus_affinity_uidlist
    chown root system /sys/module/migt/parameters/del_bclus_affinity_uidlist
    chmod 0664 /sys/module/migt/parameters/del_bclus_affinity_uidlist
    chown root system /sys/module/migt/parameters/reset_clus_affinity_uidlist
    chmod 0664 /sys/module/migt/parameters/reset_clus_affinity_uidlist

on property:persist.vendor.sys.fp.fod.large_field=1
    write sys/bus/i2c/devices/3-0049/fod_area 1

on boot && property:persist.vendor.usb.controller.default=*
    setprop vendor.usb.controller ${persist.vendor.usb.controller.default}

on charger
    mkdir /mnt/vendor/persist
    chown root system /mnt/vendor/persist
    chmod 0771 /mnt/vendor/persist
    mkdir /mnt/vendor/persist/subsys 0770 root system
    start vendor.power_off_alarm
    setprop sys.usb.controller a600000.dwc3
    setprop sys.usb.configfs 1
    start leds-sh

on property:vendor.audio.cit.spkcal.copy=true
    copy /data/vendor/cit/cs35l41_cal.bin /mnt/vendor/persist/audio/cs35l41_cal.bin
    copy /data/vendor/cit/cs35l41_cal_right.bin /mnt/vendor/persist/audio/cs35l41_cal_right.bin
    copy /data/vendor/cit/cs35l41_cal.txt /mnt/vendor/persist/audio/cs35l41_cal.txt
    copy /data/vendor/cit/cs35l41_cal_right.txt /mnt/vendor/persist/audio/cs35l41_cal_right.txt
    chmod 666 /mnt/vendor/persist/audio/cs35l41_cal.bin
    chmod 666 /mnt/vendor/persist/audio/cs35l41_cal_right.bin
    chmod 666 /mnt/vendor/persist/audio/cs35l41_cal.txt
    chmod 666 /mnt/vendor/persist/audio/cs35l41_cal_right.txt
    copy /data/vendor/cit/tfa9874_chk.txt /mnt/vendor/persist/audio/tfa9874_chk.txt
    chmod 666 /mnt/vendor/persist/audio/tfa9874_chk.txt
    chmod 444 /data/vendor/cit/cs35l41_cal_spk1.bin
    chmod 444 /data/vendor/cit/cs35l41_cal_spk1.txt
    chmod 444 /data/vendor/cit/cs35l41_cal_spk2.bin
    chmod 444 /data/vendor/cit/cs35l41_cal_spk2.txt
    chmod 444 /data/vendor/cit/cs35l41_cal_spk3.bin
    chmod 444 /data/vendor/cit/cs35l41_cal_spk3.txt
    chmod 444 /data/vendor/cit/cs35l41_cal_spk4.bin
    chmod 444 /data/vendor/cit/cs35l41_cal_spk4.txt
    chmod 444 /data/vendor/cit/cs35l41_cal_spk5.bin
    chmod 444 /data/vendor/cit/cs35l41_cal_spk5.txt
    chmod 444 /data/vendor/cit/cs35l41_cal_spk6.bin
    chmod 444 /data/vendor/cit/cs35l41_cal_spk6.txt
    chmod 444 /data/vendor/cit/cs35l41_cal_spk7.bin
    chmod 444 /data/vendor/cit/cs35l41_cal_spk7.txt
    chmod 444 /data/vendor/cit/cs35l41_cal_spk8.bin
    chmod 444 /data/vendor/cit/cs35l41_cal_spk8.txt
    copy /data/vendor/cit/cs35l41_cal_spk1.bin /mnt/vendor/persist/audio/cs35l41_cal_spk1.bin
    copy /data/vendor/cit/cs35l41_cal_spk1.txt /mnt/vendor/persist/audio/cs35l41_cal_spk1.txt
    copy /data/vendor/cit/cs35l41_cal_spk2.bin /mnt/vendor/persist/audio/cs35l41_cal_spk2.bin
    copy /data/vendor/cit/cs35l41_cal_spk2.txt /mnt/vendor/persist/audio/cs35l41_cal_spk2.txt
    copy /data/vendor/cit/cs35l41_cal_spk3.bin /mnt/vendor/persist/audio/cs35l41_cal_spk3.bin
    copy /data/vendor/cit/cs35l41_cal_spk3.txt /mnt/vendor/persist/audio/cs35l41_cal_spk3.txt
    copy /data/vendor/cit/cs35l41_cal_spk4.bin /mnt/vendor/persist/audio/cs35l41_cal_spk4.bin
    copy /data/vendor/cit/cs35l41_cal_spk4.txt /mnt/vendor/persist/audio/cs35l41_cal_spk4.txt
    copy /data/vendor/cit/cs35l41_cal_spk5.bin /mnt/vendor/persist/audio/cs35l41_cal_spk5.bin
    copy /data/vendor/cit/cs35l41_cal_spk5.txt /mnt/vendor/persist/audio/cs35l41_cal_spk5.txt
    copy /data/vendor/cit/cs35l41_cal_spk6.bin /mnt/vendor/persist/audio/cs35l41_cal_spk6.bin
    copy /data/vendor/cit/cs35l41_cal_spk6.txt /mnt/vendor/persist/audio/cs35l41_cal_spk6.txt
    copy /data/vendor/cit/cs35l41_cal_spk7.bin /mnt/vendor/persist/audio/cs35l41_cal_spk7.bin
    copy /data/vendor/cit/cs35l41_cal_spk7.txt /mnt/vendor/persist/audio/cs35l41_cal_spk7.txt
    copy /data/vendor/cit/cs35l41_cal_spk8.bin /mnt/vendor/persist/audio/cs35l41_cal_spk8.bin
    copy /data/vendor/cit/cs35l41_cal_spk8.txt /mnt/vendor/persist/audio/cs35l41_cal_spk8.txt
    chmod 666 /mnt/vendor/persist/audio/cs35l41_cal_spk1.bin
    chmod 666 /mnt/vendor/persist/audio/cs35l41_cal_spk1.txt
    chmod 666 /mnt/vendor/persist/audio/cs35l41_cal_spk2.bin
    chmod 666 /mnt/vendor/persist/audio/cs35l41_cal_spk2.txt
    chmod 666 /mnt/vendor/persist/audio/cs35l41_cal_spk3.bin
    chmod 666 /mnt/vendor/persist/audio/cs35l41_cal_spk3.txt
    chmod 666 /mnt/vendor/persist/audio/cs35l41_cal_spk4.bin
    chmod 666 /mnt/vendor/persist/audio/cs35l41_cal_spk4.txt
    chmod 666 /mnt/vendor/persist/audio/cs35l41_cal_spk5.bin
    chmod 666 /mnt/vendor/persist/audio/cs35l41_cal_spk5.txt
    chmod 666 /mnt/vendor/persist/audio/cs35l41_cal_spk6.bin
    chmod 666 /mnt/vendor/persist/audio/cs35l41_cal_spk6.txt
    chmod 666 /mnt/vendor/persist/audio/cs35l41_cal_spk7.bin
    chmod 666 /mnt/vendor/persist/audio/cs35l41_cal_spk7.txt
    chmod 666 /mnt/vendor/persist/audio/cs35l41_cal_spk8.bin
    chmod 666 /mnt/vendor/persist/audio/cs35l41_cal_spk8.txt

service audioshell_service /vendor/bin/audioshell_service
    oneshot
    disabled

on property:ro.vendor.miui.region=*
    start audioshell_service

service vendor.lowi /vendor/bin/sscrpcd
   class core
   user system
   group system wakelock
   capabilities BLOCK_SUSPEND

#pd-mapper
service vendor.pd_mapper /vendor/bin/pd-mapper
    class core
    user system
    group system

#Peripheral manager
service vendor.per_mgr /vendor/bin/pm-service
    class core
    user system
    group system
    ioprio rt 4

service vendor.per_proxy /vendor/bin/pm-proxy
    class core
    user system
    group system
    disabled

service vendor.mdm_helper /vendor/bin/mdm_helper
    class core
    group system wakelock
    disabled

service vendor.mdm_launcher /vendor/bin/sh /vendor/bin/init.mdm.sh
    class core
    oneshot

on property:init.svc.vendor.per_mgr=running
    start vendor.per_proxy

on property:sys.shutdown.requested=*
    stop vendor.per_proxy

service vendor.nv_mac /vendor/bin/nv_mac
    class late_start
    user system
    group system inet net_admin wifi net_raw
    oneshot

service dcvs-sh /vendor/bin/init.qti.dcvs.sh
    class late_start
    user root
    group root system
    disabled
    oneshot

on property:vendor.dcvs.prop=1
   start dcvs-sh

on post-fs-data
    chmod 0666 /dev/migt
    restorecon /dev/migt
    chmod 0777 /sys/module/migt/parameters/migt_freq
    restorecon /sys/module/migt/parameters/migt_freq
    chmod 0777 /sys/module/migt/parameters/migt_ms
    restorecon /sys/module/migt/parameters/migt_ms
    chmod 0777 /sys/module/migt/parameters/migt_thresh
    restorecon /sys/module/migt/parameters/migt_thresh
    chmod 0777 /sys/module/migt/parameters/boost_policy
    restorecon /sys/module/migt/parameters/boost_policy
    chmod 0777 /sys/module/migt/parameters/fps_variance_ratio
    restorecon /sys/module/migt/parameters/fps_variance_ratio
    chmod 0777 /sys/module/migt/parameters/super_task_max_num
    restorecon /sys/module/migt/parameters/super_task_max_num
    chmod 0777 /sys/module/migt/parameters/migt_ceiling_freq
    restorecon /sys/module/migt/parameters/migt_ceiling_freq
    chmod 0777 /sys/module/migt/parameters/stask_candidate_num
    restorecon /sys/module/migt/parameters/stask_candidate_num
    chmod 0777 /sys/module/migt/parameters/fas_power_mod
    restorecon /sys/module/migt/parameters/fas_power_mod
    chmod 0666 /sys/module/migt/parameters/mi_viptask
    restorecon /sys/module/migt/parameters/mi_viptask

service mi-serial-sh /vendor/bin/init.mi.serial.sh
    class late_start
    user root
    group root system radio
    disabled
    oneshot

on post-fs && property:ro.product.device=elish
    start mi-serial-sh

on property:sys.lmkd.memory.start_reclaim_in_video_record=1
    setprop sys.lmkd.memory.start_reclaim_in_video_record 0
    write /sys/kernel/cam_reclaim/event 1

on property:sys.lmkd.memory.start_reclaim_in_capture=1
    setprop sys.lmkd.memory.start_reclaim_in_capture 0
    write /sys/kernel/cam_reclaim/config "120 0 0 400000 1000 0 0 2000000000"
    write /sys/kernel/cam_reclaim/event 1

#####copy megvii files#####
on property:sys.boot_completed=1
    mkdir /data/vendor/camera/model 0777 cameraserver audio
    mkdir /data/vendor/camera/model/rt_model 0777 cameraserver audio
    copy /vendor/etc/camera/model/rt_model/preview_model /data/vendor/camera/model/rt_model/preview_model
    chown cameraserver audio  /data/vendor/camera/model/rt_model/preview_model
    chmod 0777 /data/vendor/camera/model/rt_model/preview_model
    copy /vendor/etc/camera/model/rt_model/preview_cache /data/vendor/camera/model/rt_model/preview_cache
    chown cameraserver audio  /data/vendor/camera/model/rt_model/preview_cache
    chmod 0777 /data/vendor/camera/model/rt_model/preview_cache
    copy /vendor/etc/camera/model/rt_model/preview_policy /data/vendor/camera/model/rt_model/preview_policy
    chown cameraserver audio  /data/vendor/camera/model/rt_model/preview_policy
    chmod 0777 /data/vendor/camera/model/rt_model/preview_policy
    mkdir /data/vendor/camera/model/dof_model 0777 cameraserver audio
    copy /vendor/etc/camera/model/dof_model/capture_cache /data/vendor/camera/model/dof_model/capture_cache
    chown cameraserver audio  /data/vendor/camera/model/dof_model/capture_cache
    chmod 0777 /data/vendor/camera/model/dof_model/capture_cache
    copy /vendor/etc/camera/model/dof_model/capture_model /data/vendor/camera/model/dof_model/capture_model
    chown cameraserver audio  /data/vendor/camera/model/dof_model/capture_model
    chmod 0777 /data/vendor/camera/model/dof_model/capture_model
    copy /vendor/etc/camera/model/dof_model/capture_policy /data/vendor/camera/model/dof_model/capture_policy
    chown cameraserver audio  /data/vendor/camera/model/dof_model/capture_policy
    chmod 0777 /data/vendor/camera/model/dof_model/capture_policy
    mkdir /data/vendor/camera/model/ldc_model 0777 cameraserver audio
    copy /vendor/etc/camera/model/ldc_model/ldc_cap_cache /data/vendor/camera/model/ldc_model/ldc_cap_cache
    chown cameraserver audio  /data/vendor/camera/model/ldc_model/ldc_cap_cache
    chmod 0777 /data/vendor/camera/model/ldc_model/ldc_cap_cache
    copy /vendor/etc/camera/model/ldc_model/ldc_cap_model /data/vendor/camera/model/ldc_model/ldc_cap_model
    chown cameraserver audio  /data/vendor/camera/model/ldc_model/ldc_cap_model
    chmod 0777 /data/vendor/camera/model/ldc_model/ldc_cap_model
    copy /vendor/etc/camera/model/ldc_model/ldc_cap_policy /data/vendor/camera/model/ldc_model/ldc_cap_policy
    chown cameraserver audio  /data/vendor/camera/model/ldc_model/ldc_cap_policy
    chmod 0777 /data/vendor/camera/model/ldc_model/ldc_cap_policy
