#
# Copyright (C) 2021 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

service qti_esepowermanager_service_1_1 /vendor/bin/hw/vendor.qti.esepowermanager@1.1-service
    override
    class hal
    user system
    group nfc system
    disabled

service secureelement-hal_1_2 /vendor/bin/hw/vendor.qti.secure_element@1.2-service
    override
    class hal
    user system
    group system
    disabled

service vendor.nfc_hal_service /vendor/bin/hw/android.hardware.nfc_snxxx@1.2-service
    override
    class hal
    user nfc
    group nfc
    disabled

on boot && property:ro.boot.product.hardware.sku=nfc
    enable qti_esepowermanager_service_1_1
    enable secureelement-hal_1_2
    enable vendor.nfc_hal_service
