#
# Copyright (C) 2023 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

# Charging
/sys/class/power_supply/battery battery_charging_enabled 0660 system system

# socinfo
/sys/devices/soc0           serial_number            0000    root    root
