on early-boot
    chown system system /sys/class/leds/red/breath

    chown system system /sys/class/leds/green/breath

    chown system system /sys/class/leds/blue/breath

    chown system system /sys/class/leds/white/breath
    chown system system /sys/class/leds/white/brightness

    chown system system /sys/class/backlight/panel0-backlight/brightness

service vendor.light-xiaomi_kona /vendor/bin/hw/android.hardware.lights-service.xiaomi_kona
    class hal
    user system
    group system
    shutdown critical
